* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    font-weight: normal;
    font-family: FiraCode, monospace;
    background-color: #181A21;
}

header {
    background-color: #ff6961;
    width: 100%;
}
